* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}
.funky {
    font-family: 'Amatic SC', cursive;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {list-style: none;}
:root {
    --accent-color: #ce1212;
    --secondary-color: #37373f
}
a {text-decoration: none; color:inherit}
.accent {
    color: var(--accent-color)
}
.center {text-align: center;}
.flex  {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container {
    width: 90%;
    max-width: 1320px;
    margin:auto;
    overflow: hidden;
}
.upper {
    text-transform: uppercase;
       
}
section {
    margin-top: 4em;
    padding: 4rem 0; 
}
img {display: block;width: 100%;}
.grey-background {background-color: #EEEEEE;}

/*  Nav */
nav {
    background-color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    align-items: center;
    z-index: 1000;
    top: 0
}

nav a {
    text-decoration: none;
    margin: 0 1rem;
    color: grey;
    font-weight: bold;
    transition: .2s;
    position: relative;
}
h1 a {
    color: black;
    font-size: 30px;
}
nav a:hover {
    color:black;
}

.moon {font-size: 1.5rem;}

/* end nav */

/* main */
main { 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: nowrap !important;
    margin-top: 3rem;
    height: 100vh;
}
h2.funky:not(main h2) {font-size: 50px; font-weight: normal}
@media screen and (min-width: 990px) {
    main {
        flex-direction: row-reverse;
        margin-top: 0;
        
    }
    .main-content {
        text-align: left;
    }
    div.main-btns {
        text-align: center;
        gap: 2rem;
        justify-content: flex-start;
    }
}

main h2 {
    font-size: 65px;
    color: var(--secondary-color)
}
main p {
    color: #4f4f5a;
    line-height: 1.6;
    font-size: 1rem;  
}
.main-btns {
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 20px;
}
.main-btns a{display: block;}
.book-btn {
    background-color: var(--accent-color);
    color:#fff;
    padding: 10px 25px;
    border-radius: 100vh;
}
.vid-btn {
    color: inherit;
}


/*chefs*/
.chefs-cards {
    flex-direction: column;
}
.card {
    margin: 2rem 0;
    border-radius: 5px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: .2s;
    position: relative;
}
.card:hover {transform: scale(1.05);}
.card-content {
    padding: 1rem
}
.card-content h4, .card-content p {color:grey;margin-top: 10px;}

.card ul {
    position: absolute;
    top: 2rem;
    right: -5rem;
    transition-delay: .2s;
    transition-duration: .2s;
    list-style: none;
    background-color: rgba(255,255,255,.5);
    padding:.2rem;
}
.card:hover ul {
    right: 1rem
}
.chefs-links li:not(:last-child) {
    padding: .4rem .2rem;
    border-bottom: 2px solid black;
}
@media screen and (min-width: 600px) {
   .chefs-cards {
        flex-direction: row;
        justify-content: space-between;
    }
    .card {width: 49%; margin-bottom: 1rem}
}

@media screen and (min-width: 900px) {
    .chefs-cards {
         flex-direction: row;
         justify-content: space-between;
     }
     .card {width: 32%; margin-bottom: 1rem}
 }
/*gallery*/
.gallery-items {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 3rem;
    height: auto;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border: 4px solid white;
}
picture {overflow: hidden;}
.gallery-item:hover img{
    transform: scale(1.05);
}
.gallery-item:hover .overlay {top:0}
.gallery-item img {
    transition: .2s;
}
.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color:white;
    height:100%;
    width: 100%;
    top:100%;
    transition-duration: .3s;
    transition-delay: .2s
}

@media screen and (min-width: 768px) {
    .gallery-items {
        min-height: 1500px;
        max-height: 1800px;
    }
    .gallery-item {
        width: 50%
    }
    .gallery-item:nth-child(1) {
        order: 1;
    }
    .gallery-item:nth-child(2) {
        order: 5;
    }
    .gallery-item:nth-child(3) {
        order: 2;
    }
    .gallery-item:nth-child(4) {
        order: 3;
    }
    .gallery-item:nth-child(5) {
        order: 6
    }
    .gallery-item:nth-child(6) {
        order: 7
    }
    .gallery-item:nth-child(7) {
        order: 4
    }
}
@media screen and (min-width: 992px) {
    .gallery-items {
        min-height: 800px;
        
        max-height: 1000px;
    }
    .gallery-item {
        width: 33%;
        max-width: 420px;
    }
    .gallery-item:nth-child(1) {
        order: 1;
    }
    .gallery-item:nth-child(2) {
        order: 3;
    }
    .gallery-item:nth-child(3) {
        order: 5;
    }
    .gallery-item:nth-child(4) {
        order: 2;
    }
    .gallery-item:nth-child(5) {
        order: 6
    }
    .gallery-item:nth-child(6) {
        order: 7
    }
    .gallery-item:nth-child(7) {
        order: 4
    }
}

@media screen and(min-width:992px) {
    .container {max-width: 960px}
}
@media screen and (min-width: 1200px) {
.container {
    width: 90%;
}
}

iframe {
    width: 100%;
    margin: 2rem 0;
}

.contact-methods {
    flex-direction: column;
    gap: 1rem;
}
@media screen and (min-width: 905px) {
    .contact-methods {flex-direction: row;}
    .contact-method {width: 49%}
}
.contact-method {
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    padding:1rem;
    text-align: left;
}
.contact-icon{
    background-color: var(--accent-color);
    padding: .75rem;
    border-radius: 50%;
    color: white;
    font-size: 1.2rem;
}

form {
    margin: 2rem 0;
    display: grid;
    gap: 1rem;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}
@media screen and (min-width: 990px) {
    form {
        grid-template-columns: repeat(2, 1fr);
    }
    form textarea, input[placeholder = "Subject"] {
        grid-column: span 2;
    }
    form button {grid-column: span 2;margin: 0 auto}
}

form input, textarea {
    padding: 1rem;
    transition: .4s;
    border: 2px solid lightgray;
}
input:focus,textarea:focus {
    outline: 0;
    border-color: var(--accent-color);
}
form button.book-btn {
    width: fit-content;
    margin: auto;
    border: 0;
    padding: 1em 2.5em !important;
    cursor: pointer;
    transition: .3s;
    outline: NONE;
}
form button:hover {
    background-color: #ff4545;
}


/*footer*/
footer {
    color: white;
    padding: 2rem 0;
    background-image: url('../images/textured-metal-background.jpg');
}
footer img {width:40px}
footer .container {gap: 1rem}
footer .container div{
    width: 100%
}
@media screen and (min-width: 768px) {
    footer .container > div:not(.newsletter-div) {
        width: calc(calc(100% - 1rem) / 2)
    }
    footer .container > div:nth-child(1) {
        order: 1
    }
    footer .container > div:nth-child(2) {
        order: 3
    }
    footer .container > div:nth-child(3) {
        order: 2
    }
    .newsletter {
        grid-template-columns: 3fr 1fr;
    }
}
@media screen and (min-width: 1200px) {
    footer .container > div {
        max-width: calc(calc(100% - 2rem) / 3);
        min-width: calc(calc(100% - 2rem) / 3);
    }
    footer .container > div:nth-child(1) {
        order: 1
    }
    footer .container > div:nth-child(2) {
        order: 2
    }
    footer .container > div:nth-child(3) {
        order: 3
    }
}
.loggo {
    justify-content: flex-start;
    gap:1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.loggo h3 {
    font-size: 30px;
}
footer p {line-height: 1.4;}
h3.center {
    border-bottom: 2px solid lightgray;
    margin: 1rem 0;
    padding-bottom: .5rem;
}

.social-links a {
    font-size: 1.5rem;
}

.newsletter-div h3{
    margin-bottom: 1rem;
}
.newsletter {
    margin: 1rem 0;
    display: grid;
    gap: .5rem
}
.newsletter input {
padding: .5rem
}
.newsletter a {
    background-color: var(--accent-color);
    padding: .5rem;
    text-align: center;
    min-width: 6.875rem;
}
.quick-links {justify-content: space-between;}
.quick-links li {
    width: 48%;
    margin-bottom: .5rem;
    transition: .2s;
}
.quick-links li:hover {
    background-color: rgba(50, 50, 50, 0.4);
    transform: translateX(5px);
}

.get-in-touch h3 {margin-bottom: 1rem;}
.get-in-touch li{
    margin: .7rem 0
}